body, html {
    height: 100%;
}

.navbar-custom {
    background-color: #002060;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Logo-Bild links */
.navbar-logo {
    width: auto;
    height: 85px;
}

/* Menü-Links */
.navbar-custom .nav-link {
    color: #bfc9ff;
    font-size: 18px;
    transition: all 0.2s ease-in-out;
}

.navbar-custom .nav-link:hover {
    color: white !important;
    font-weight: bold;
}

.icon-main-menu {
    color: #ffffff !important;
    margin-right: .25em;
}

.footer-custom {
    background-color: #002060;
    color: white;
    padding: 20px 0;
    height: 85px;
    align-content: end;
}
.footer-custom a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}
.footer-custom a:hover {
    text-decoration: underline;
}

.card-body{
    color: white;
}

.bootstrap-table.bootstrap5 .float-left{
    float: left;
}

